:root{
  --border-radius: 8px;
  --border-rounded: 100px;
  --spotify-green: #1DB954;
  --spotify-white: #fff;
  --spotify-black: #191414;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #282030;
}
::-webkit-scrollbar-thumb {
  background: #6f4599;
}
body{
  font-family: 'Open Sans', sans-serif;
  color:#F4F4F6;
  background: #282030 url(../background.png) center center fixed no-repeat;
  
}
ul,
ol{
  list-style: none;
}
a{
  cursor: pointer;
  text-decoration: none;
}